*{ margin:0px;
    padding:0px;
    box-sizing:border-box;
}
.top-side{
    width:100%;
    height:80px;
    background-color:#660000;
}

.container{
    width:1074px;
    margin:auto;
}

.header-top{
    display:flex;
    flex-wrap:wrap;

    justify-content:space-between;
    height:40px;
    margin:10px;
 /* margin rom vuketeb amas contaneineridan tanabrad ashorebs yvelafers garda top-isa */
}
.logo{
    height:40px;
    width:200px;
    text-decoration: none;
}
a{
    text-decoration:none;
}
.active{
    background-color:lightgreen;
    border-radius: 10%;
}
.logo-top{
    font-size:30px;
    color:white;
}
.logo-bot{
    font-size:15px;
    color:white;
}
.menu{
    display:flex;
    justify-content: flex-end;
    flex-wrap:wrap;

    height:40px;
    align-content: space-between;
}
.menu-item{
    color:white;
    height:40px;
    width:80px;
    margin: 0px 5px;
    list-style-type: none;
    text-align: center;
    padding:10px;
    font-size:13px;

}
.menu-item:hover{
    background-color:lightgreen;
    border-radius: 10%
}

.slider{
    width:100%;

    background-color:#660000;
    
}

.slider-details{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    width:960px;
    height:520px;
}
.slider-item1{
    display:flex;
    width:300px;
    height:440px;
    margin:15px;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.slider-item2{
    display:flex;
    width:380px;
    height:380px;
    border:20px solid darkgrey;
    border-radius: 100%;
    background-color: grey;
    text-align:center;
    color:white;
    font-size:40px;
    justify-content: center;
}
.slider-item-header{
    color:white;
    font-size:50px;
}
.slider-item-text{
    margin:top 15px;
    color:grey;
    font-size:15px;
}

.slider-item-more-info{
    margin-top:15px;
    color:white;
    background-color: lightgreen;
    border-radius: 15%;
    width:150px;
    align-self: flex-start;
    height:30px;
    text-align: center;
}

.service{
    background-color:red;
    width:100%;
    height:450px;
}


.service-items{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-around;
    align-items:center ;
    width:960px;
    height:400px;
}


.service-item{
    padding-top:20px;
    display:flex;
    flex-direction:column;
    width:225px;
    height:300px;
    padding-right:10px;
    padding-left:10px;
    background-color: #f1f1f1;
    align-items:center;
}
.service-item:hover{
    background-color: lightgreen;
}
.service-item:hover .item-picture{
    background-color: white;
    color:black;
}

.service-item:hover .item-title{
    color:white;
}

.service-item:hover .item-description{
    color:white;
}
.item-picture{
    background-color:grey;
    width:120px;
    height:120px;
    text-align:center;
    display:flex;
    align-items:center;
    justify-content: center;
    color:white;
}

.item-title{
    color:black;
    font-size:40px;
    
}

.item-description{
    color:grey;
    font-size:20px;
   
}

.divider{
    background-color:red;
    width:100%;
    height:50px;
}

.line{
    background-color:grey;
    width:100%;
    display:flex;
    height:3px;
    justify-content: center;
    align-items:baseline;

}

.last-work{
    background-color:grey;
    width:250px;
    height:50px;
    align-self:center;
    position: relative;
}
.last-work p{
    position:absolute;
    top:10%;
    left:10%;
    font-size:40px;
    color:white;
}
.work-section{
    background-color:red;
    width:100%;
    height:520px;
}

.work-items{
    display:flex;
    width:960px;

    flex-wrap:wrap;
    justify-content:space-around;
    align-items: center;
}

.item{
    background-color:grey;
    width:290px;
    height:190px;
    border:5px solid white;
    margin:10px;
    position: relative;
    font-size:30px;
    text-align:center;
    transition:0.5s;
    overflow:hidden;
}
.inner-div{
    position: absolute;
    height:30px;
    bottom:0px;
    background-color: black;
    width:100%;
    color:white;
    text-align:center;
    font-size:20px;
    transition:0.5s;
}
.item:hover{
    border:5px solid green
}

.item:hover .inner-div{
    
    border:5px solid green;
    bottom:-50px;
}


.footer{
    width:100%;
    height:400px;
    background-color: black;
}

.footer-items{
    display:flex;
    width:960px;
    justify-content: space-around;
    align-items:center;
}


.footer-item{
    width:225px;
    height:300px;

    margin:20px;
    align-self:center;
    display: flex;
    flex-direction: column;
    
    align-items:center;
}

.footer-item-title{
    align-self: flex-start;
    width:100px;
    height:20px;
    color:white;
    margin:5px;
}

.text{
    padding:5px;
    align-self: flex-start;
   color:grey;
    
}

.quick-link{
    align-self: flex-start;
    width:200px;
    height:20px;
    background-color: brown;
    margin:5px;
}

.form-info{
    align-self: flex-start;
    width:200px;
    height:40px;
    background-color: orange;
    margin:5px;
}

.submit{
    align-self: flex-start;
    width:75px;
    height:40px;
    background-color: lightgreen;
    margin:5px;
}


.copyright{
    width:100%;
    height:70px;
    background-color: black;
}


.copyright-items{
    width:960px;
    display:flex;

}


.copyright-item1{
   color:grey;
    margin-right:200px;
    width:330px;
    height:40px;
}

.copyright-item2{
  color:grey;
    margin-left:270px;
    align-self: flex-end;
    width:160px;
    height:40px
}

.grid-container{
    margin:0px 200px 0px 200px;
    width:1074px;
    display:grid;
    grid-template-columns: 1fr 10fr 1fr;
    background-color: #660000;
    grid-gap:10px;
    align-items:center;
}

.arrow-l{
    margin:20px;
    background-color:green;
    grid-column: 1/2;
    width:35px;
    height:50px;

}


.arrow-r{
    margin:20px;
    background-color:green;
    width:35px;
    height:50px;
}

.slider-item2-info{
    align-self: center;
    color:white;
    text-align:center;
    font-size: 40px;
}

.footer-link{
    align-self: flex-start;
    color:green;
}
.footer-read-more{
    align-self:flex-start;
    color:green;
}
.footer-item ul{
    align-self:flex-start;
}

.footer-list{
    list-style-type:katakana;
    font-size:20px;
}
.submit{
    border:0px;
    color:black;
    border-radius: 25%;
}
.form-input{
    margin-top:10px;
    width:100%;
    height:30px;
    border-radius: 5%;
    background-color:#2d0000;
    border:0px;
    

}

::placeholder{
    color:grey;
}